.online {
  color: green;
}

.offline {
  color: red;
}
.friendsList {
  margin: 0 auto;
  max-width: 768px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.friendsItem {
  background-color: #fff;
  width: 72px;
  padding: 16px 8px;
  border: 2px solid #000;
  border-radius: 8px;
}
