.tableBox {
  margin: 0 auto;
  margin-top: 48px;
  border-collapse: collapse;
  width: 480px;
  border: 2px solid #000;
  background-color: #ffffff;
}

.tableHead {
  background-color: #0d0d0d;
  font-weight: bold;
  font-size: 22px;
}
.tableBox th {
  width: 160px;
}

.tableBox tr:nth-child(even) {
  background-color: #cccccc;
}

.tableBox td {
  border: 1px solid #000000;
  color: #000000;
  font-size: 18px;
}

.tableBox td:first-child::first-letter {
  text-transform: uppercase;
}
